@use "../../common/colors" as *;

.login {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.logo {
  height: 150px;
  width: auto;
}

.separator {
  align-self: center;
  background-color: use-color("base-lighter");
  height: 1px;
  width: 80%;
}
