
.main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

ul.solutions_list {
  padding: 0;
}

.solution_item_link {
  margin-left: 1rem;
}
