@import "../../common/colors";

:root {
  --dark-green: #137752;
  --white: #fff;
}

pre {
  margin: 0;
}

.navigator {
  background-color: use-color("base-lightest");
  padding: 1rem;
}

.navigator a {
  text-decoration: none;
}

.column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
}

.details {
  flex-grow: 3;
}

.header nav {
  margin-bottom: 1rem;
  position: relative;
}

.narrative-new-button {
  position: absolute;
  right: 0;
  top: 0;
}

.list {
  background-color: use-color("white");
  border-bottom: 1px solid use-color("silver");
  border-left: 1px solid use-color("silver");
  border-top: 1px solid use-color("silver");
  flex-grow: 2;
  max-width: 600px;
}

.more {
  border: 1px dashed #000;
}

.preview ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search {
  display: flex;
  margin-bottom: 1rem;

  > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}

ul.shared,
.shared li {
  display: inline;
  padding-inline: 0;
}

.shared li::after {
  content: ", ";
}

.final.shared li:last-child::after {
  content: ".";
}

.shared-toggle,
.shared-toggle ~ ul.more,
.shared-toggle ~ label.less,
.shared-toggle:checked ~ label.more {
  display: none;
}

.shared-toggle ~ label.more,
.shared-toggle:checked ~ label.less {
  display: block;
}

.shared-toggle:checked ~ ul.more {
  display: inline;
}

.shared-toggle ~ label.less,
.shared-toggle ~ label.more {
  color: #00f;
  cursor: pointer;
}

.sort {
  width: 30ch;
}

.view {
  background-color: use-color("white");
  border: 1px solid use-color("silver");
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.view pre {
  border: 1px dashed #000;
}

.view .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.view .tabs {
  margin-bottom: 1rem;
}

.tabs {
  border-bottom: 1px solid use_color("silver");
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

// .tabs > li {
//   transition: 0.25s;
// }

.tabs > li:hover {
  color: use-color("grey");
}

.tabs > li:not(:last-child) {
  margin-right: 1rem;
}

.tabs .active {
  border-bottom: 3px solid use_color("mid-green");
  // color: use_color("mid-green");
  // font-weight: bold;
}

.tabs a {
  color: inherit;
  display: inline-block;
  height: 100%;
  padding: 1rem;
}
