@import "../../common/colors";

:root {
  --dark-green: #137752;
  --white: #fff;
}

pre {
  margin: 0;
}

.navigator {
  background-color: use-color("base-lightest");
  padding: 1rem;
}

.navigator a {
  text-decoration: none;
}

.column {
  border: 1px dashed #000;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  display: flex;
  justify-content: space-between;
}

.details {
  flex-grow: 3;
}

.header nav {
  position: relative;
}

.narrative-new-button {
  position: absolute;
  right: 0;
  top: 0;
}

.list {
  flex-grow: 2;
  max-width: 600px;
}

.more {
  border: 1px dashed #000;
}

.preview {
  border: 1px dashed #000;
}

.search {
  display: flex;
}

ul.shared,
.shared li {
  display: inline;
  padding-inline: 0;
}

.shared li::after {
  content: ", ";
}

.final.shared li:last-child::after {
  content: ".";
}

.shared-toggle,
.shared-toggle ~ ul.more,
.shared-toggle ~ label.less,
.shared-toggle:checked ~ label.more {
  display: none;
}

.shared-toggle ~ label.more,
.shared-toggle:checked ~ label.less {
  display: block;
}

.shared-toggle:checked ~ ul.more {
  display: inline;
}

.shared-toggle ~ label.less,
.shared-toggle ~ label.more {
  color: #00f;
  cursor: pointer;
}

.sort {
  width: 30ch;
}

.view {
  border: 1px dashed #000;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.view pre {
  border: 1px dashed #000;
}

.view .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabs {
  border-bottom: 1px solid use_color("silver");
  display: flex;
  list-style: none;
  margin: 0 0 1rem;
  padding: 0;
}

.tabs > li {
  padding: 1rem;
}

.tabs > li:not(:last-child) {
  margin-right: 1rem;
}

.tabs .active {
  border-bottom: 3px solid use_color("mid-green");
  // color: use_color("mid-green");
  // font-weight: bold;
}

.tabs a {
  color: inherit;
}
