.label-value-table {
  border-spacing: 0;
  width: 100%;
}

.label-value-table td {
  padding: 0;
  white-space: nowrap;
}

.label-value-table th {
  font-weight: bold;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
}

.label-value-table tr:not(:last-child) td {
  padding-bottom: 0.5rem;
}
